doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Real steel

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')

		script(src="script/jquery-2.2.0.js", type="text/javascript")
		script(src="script/scripts.js", type="text/javascript")

	body
		.background
			.background__dark
			.background__light

		main.main-content
			.container
				header.header
					a.logo(href="/")
						.logo__uptext Название
						.logo__downtext сайта
					.main-nav
						button.main-nav__burger.fa.fa-bars
						ul.main-nav__list
							li.main-nav__item
								a.main-nav__link(href="#") О компании
							li.main-nav__item
								a.main-nav__link(href="#") Услуги
							li.main-nav__item
								a.main-nav__link(href="#") Продукция
							li.main-nav__item
								a.main-nav__link(href="#") Контакты

				.main-slider
					.main-slide
						img(src="img/slide-1.jpg")

				.wrapper
					aside
						.consultation
							.consultation__title Консультации по телефону
							.consultation__phone +7 (495)<span> 456-2567</span>

						section.news
							.news__title Новости
							.news__wrapper
								.news__item
									.news__item-date 01.01.2017
									.news__item-text NSSMC и BlueScope запустили  СП по выпуску покрытого проката
								.news__item
									.news__item-date 01.01.2017
									.news__item-text NSSMC и BlueScope запустили  СП по выпуску покрытого проката
								a.news__link(href="#") Все новости

					section.content
						h2 Нержавеющий и жаропрочный лист. Круги. Трубы. Толстостенные трубы для машистроения.
						.photos
							.photos__item(style="background: url('img/photos/photo-1.jpg') no-repeat 50% 50%;")
							.photos__item(style="background: url('img/photos/photo-2.jpg') no-repeat 50% 50%;")
							.photos__item(style="background: url('img/photos/photo-3.jpg') no-repeat 50% 50%;")
							.photos__item(style="background: url('img/photos/photo-4.jpg') no-repeat 50% 50%;")
							.photos__item(style="background: url('img/photos/photo-5.jpg') no-repeat 50% 50%;")

						p С момента создания приоритетным направлением сбытовой политики является реализация эксклюзивных марок сталей и в настоящее время компанией реализуется весь сортамент металлопроката, выпускаемой российскими заводами – производителями.
						p Определив своей целью максимально полное удовлетворение потребности предприятий в металлопродукции и сопутствующих сервисных услугах по доступным ценам, мы постоянно расширяем ассортимент реализуемой продукции и сейчас активно развиваем продажи металлопроката.

			footer.footer
				.container
					.footer__wrapper
						.footer__copyright © Живая сталь 1998-2012 г. Москва , ул. Первая, дом. 80
						.footer__developer Создание сайта: